<mat-accordion>
	<mat-expansion-panel>
		<mat-expansion-panel-header (click)= "choosingPriorityDevice('audioinput')" >
			<mat-panel-title>
				<mat-icon>
					mic
				</mat-icon>
			</mat-panel-title>
			<mat-panel-description> 
				mic
			</mat-panel-description>
		</mat-expansion-panel-header>
		 <p  *ngFor = "let devices of devicesForChoosing">
			{{ devices.label }}
		 </p>
		</mat-expansion-panel>
	<mat-expansion-panel >
		<mat-expansion-panel-header (click)= "choosingPriorityDevice('videoinput')" >
			<mat-panel-title>
				<mat-icon>
					videocam
				</mat-icon>
			</mat-panel-title>
			<mat-panel-description>
				video
			</mat-panel-description>
		</mat-expansion-panel-header>
		  <p  *ngFor = "let devices of devicesForChoosing">
			{{ devices.label }}
		 </p>
	</mat-expansion-panel>
</mat-accordion>





